* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(229, 150, 30);
  color: rgb(246, 249, 251);
  font-family: "Poppins", sans-serif;
}

nav h1 {
  width: 30%;
}
nav {
  display: flex;
  justify-content: space-between;
  padding: 12px;
  background-color: rgb(46, 39, 6);
}

li {
  list-style: none;
  display: inline;
  margin: 8px;
}

body a {
  text-decoration: none;
  color: rgb(246, 249, 251);
}

body h1 {
  padding: 10px;
  font-size: 42px;
}
nav ul li a {
  padding: 8px;
}

nav ul li a:hover {
  background-color: red;
  border-radius: 20%;
}
main {
  margin: 10% 10% 15%;
}
main .md {
  display: flex;
  justify-content: space-between;
}

main .mn1 {
  width: 60%;
  line-height: 1.5;
}

main .mn2 {
  width: 30%;
}
img {
  width: 30%;
  border-radius: 20%;
  position: absolute;
  right: 8%;
  bottom: 5%;
  height: 70%;
}

footer {
  position: fixed;
  bottom: 0%;
  margin: auto;
}
